# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Tool caches
.grunt
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache
.node_repl_history
.tern-port
.vscode-test

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Build output
build/Release
.next
out
dist
.output
.nuxt
.svelte-kit/
.vuepress/dist
.temp
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.vite/

# Generated and cache files
*.tsbuildinfo
*.tgz
.lock-wscript
.yarn-integrity
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment variables
.env
.env.*
!.env.example

# Package manager stores
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# OS files
.DS_Store
